<!DOCTYPE html>
<html>
<head>
  <title>My Bookings</title>
  <link rel="stylesheet" type="text/css" href="/static/Mybookings.css">
</head>
<body>
    <div class="container">
        <h1>My Bookings</h1>
        <div class="booking-list">
            {% for booking in bookings %}
            <div class="booking">
                <h2>{{ booking.name }}</h2>
                <p>Date: {{ booking.date }}</p>
                <p>Time: {{ booking.time }}</p>
                <p>Description: {{ booking.description }}</p>
            </div>
            {% endfor %}
            <form action="{{ url_for('delete_booking', card_id=booking._id) }}" method="post">
            
            </form>
            </form>
            <button type="submit">Delete</button>
        </div>
    </div>
    
</body>
</html>