<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/family.css" />
  </head>
  <body>
    <center><h1>Family shoots in studio or locations</h1></center>
    <div class="services-container">
      <div class="services-container">
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/a4/b5/72/a4b5720fc2ccfa5df50859be436f5101.jpg"
            alt="Service 1"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/8b/57/2e/8b572e6d9db98ec6fa203be9ae1b5bd4.jpg"
            alt="Service 2"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/a2/79/72/a2797278dc9fe084009aa82a623d53c4.jpg"
            alt="Service 3"
          />
        </div>
      </div>
    </div>
    <div class="description"></div>
    <p>
      Indoor photoshoot can include up to 10 people with different outfits, with
      a maximum of 5 outfits, at reasonable price. During the session, you and
      your family will have the opportunity to pose together in various setups,
      such as sitting on a couch, playing board games, or cuddling on a bed. The
      photographer will use professional lighting techniques to ensure that
      everyone looks their best and that the photos have a warm and inviting
      atmosphere.
    </p>
    <br /><br /><br />
    <div class="services-container">
      <div class="services-container">
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/f8/5f/a5/f85fa574c7a87f5100096fc36a4dccae.jpg"
            alt="Service 1"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/86/44/3f/86443f51566728a5b3c08a754cd849de.jpg"
            alt="Service 2"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/49/52/48/495248656384c68dd85ac063c2a309f8.jpg"
            alt="Service 3"
          />
        </div>
      </div>
    </div>
    <p>
      Embrace the beauty of nature and create lasting memories with your family
      during our enchanting outdoors photoshoot. Step outside and let the
      stunning backdrop of the great outdoors become the canvas for your
      family's portraits. Our experienced photographer will guide you through
      the session, capturing genuine moments of joy, connection, and love.
    </p>
    <script src="" async defer></script>
  </body>
</html>
