<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/newborn.css" />
  </head>
  <body>
    <nav></nav>

    <center><h1>New born_Meternity</h1></center>
    <div class="services-container">
      <div class="services-container">
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/b6/7c/54/b67c543c41438edbc1f2a84b2c69782b.jpg"
            alt="Service 1"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/72/c4/c0/72c4c0656380b3f14fa252fd852013f3.jpg"
            alt="Service 2"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/564x/20/8d/d2/208dd2638c211969ebbffafd9b072165.jpg"
            alt="Service 3"
          />
        </div>
      </div>
    </div>
    <div class="description"></div>
    <p>
      Indoor photoshoot can include up to 10 people with different outfits, with
      a maximum of 5 outfits, at reasonable price. During the session, you and
      your family will have the opportunity to pose together in various setups,
      such as sitting on a couch, playing board games, or cuddling on a bed. The
      photographer will use professional lighting techniques to ensure that
      everyone looks their best and that the photos have a warm and inviting
      atmosphere.
    </p>
    <br /><br /><br />
    <div class="services-container">
      <div class="services-container">
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/1d/e3/8c/1de38c6f6ea74bbf98cf2230e39457ff.jpg"
            alt="Service 1"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/68/b7/d2/68b7d2a49a3651b79c6479f4cdd58bf8.jpg"
            alt="Service 2"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/42/d0/9a/42d09a02addd7c240322f64275bb728f.jpg"
            alt="Service 3"
          />
        </div>
      </div>
    </div>
    <div class="description"></div>
    <p>
      Indoor photoshoot can include up to 10 people with different outfits, with
      a maximum of 5 outfits, at reasonable price. During the session, you and
      your family will have the opportunity to pose together in various setups,
      such as sitting on a couch, playing board games, or cuddling on a bed. The
      photographer will use professional lighting techniques to ensure that
      everyone looks their best and that the photos have a warm and inviting
      atmosphere.
    </p>
    <script src="" async defer></script>
  </body>
</html>
