<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Services</title>
    <link rel="stylesheet" type="text/css" href="/static/ViewService.css" />
  </head>
  <body>
    <div class="container">
      <h2>View Services</h2>
      <div class="ViewService-list">
        {% for service in services %}
        <div class="ViewService">
          <h2>{{ service.name }}</h2>
          <img src="static/images/{{service.image}}" alt="xsehkweuhdc" />
          <p>category: {{ service.category }}</p>
          <p>price: {{ service.price}}</p>
          <p>description: {{ service.description }}</p>

          <form
            id="deleteForm"
            action="{{ url_for('service_bp.delete_service') }}"
            method="POST"
            onsubmit="showPopup(event)"
          >
            <input type="hidden" id="id" name="id" value="{{" service._id }} />
            <button type="submit">Delete</button>
          </form>
          <!-- The Modal -->
          <div id="popup" class="popup">
            <div class="popup-content">
              <span class="close" onclick="hidePopup()">&times;</span>
              <p>Are you sure you want to delete the service?</p>
              <div class="popup-buttons">
                <button onclick="confirmDeletion()">Yes</button>
                <button onclick="hidePopup()">No</button>
              </div>
            </div>
          </div>

          <form action="{{ url_for('service_bp.edit_service') }}" method="POST">
            <input type="hidden" id="id" name="id" value="{{service._id}}" />
            <input
              type="hidden"
              id="category"
              name="category"
              value="{{service.category}}"
            />
            <input
              type="hidden"
              id="price"
              name="price"
              value="{{service.price}}"
            />
            <input
              type="hidden"
              id="description"
              name="description"
              value="{{service.description}}"
            />
            <input type="hidden" name="image" value="{{ service.image }}" />
            <button type="submit1">Update</button>
          </form>
        </div>

        {% endfor %}
      </div>
    </div>
  </body>
  <script>
    function showPopup(event) {
      event.preventDefault(); // Prevent form from submitting immediately
      document.getElementById("popup").style.display = "block"; // Show the popup
    }

    function hidePopup() {
      document.getElementById("popup").style.display = "none"; // Hide the popup
    }

    function confirmDeletion() {
      document.getElementById("deleteForm").submit(); // Submit the form
    }
  </script>
</html>
