<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/family.css" />
  </head>
  <body>
    <center><h1>Weddings</h1></center>
    <div class="services-container">
      <div class="services-container">
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/c2/b9/ff/c2b9ffa99b98eb44c8be0f07564f2d7f.jpg"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/4c/15/3a/4c153a883616f26257744ce729eec468.jpg"
            alt="Service 2"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/a4/78/04/a478043f9e6d71d0bd0650ac64100e60.jpg"
            alt="Service 3"
          />
        </div>
      </div>
    </div>
    <div class="description"></div>
    <p>
      Indoor photoshoot can include up to 10 people with different outfits, with
      a maximum of 5 outfits, at reasonable price. During the session, you and
      your family will have the opportunity to pose together in various setups,
      such as sitting on a couch, playing board games, or cuddling on a bed. The
      photographer will use professional lighting techniques to ensure that
      everyone looks their best and that the photos have a warm and inviting
      atmosphere.
    </p>
    <br /><br /><br />
    <div class="services-container">
      <div class="services-container">
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/55/c0/3e/55c03e90f3ba22e04283e5011b74be17.jpg"
            alt="Service 1"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/75/09/1c/75091ce21f3ed5b799506c5f4aea2abc.jpg"
            alt="Service 2"
          />
        </div>
        <div class="service">
          <img
            src="https://i.pinimg.com/474x/11/f3/43/11f34388af6cd976404cb6e8aa47e561.jpg"
            alt="Service 3"
          />
        </div>
      </div>
    </div>
    <div class="description"></div>
    <p>
      Outside photoshoot can include up to 10 people with different outfits,
      with a maximum of 5 outfits, at reasonable price. During the session, you
      and your family will have the opportunity to pose together in various
      setups, such as sitting on a couch, playing board games, or cuddling on a
      bed. The photographer will use professional lighting techniques to ensure
      that everyone looks their best and that the photos have a warm and
      inviting atmosphere.
    </p>
    <script src="" async defer></script>
  </body>
</html>
